{% extends 'trackerApp/base.html'%}
{% block content %}


<h1 style="text-align:center;">Bread products</h1>
<div class="title-head ">
  <a href="{% url 'breadUploading' %}">Click to upload bread here</a>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<table class="table" style="width:70%;margin:auto;background-color:red;padding-top:200px;">
  <tr>

    <th class="thead-dark">Product</th>
    <th class="thead-dark">Description</th>
    <th class="thead-dark"style="text-align:left ;">Effect</th>
  </tr>
  {% for breadCont in displayBread %}
  <tr>
    <td>
      <div class="imagecontainer">
        <img src="{{ breadCont.beardpicture.url }}">

      </div><br>
        <span><small>created: {{breadCont.created|timesince}},ago</small></span><br>
      <span ><small>updated:{{breadCont.updated|timesince}},ago</small></span>
    </td>
      <td>
          <p >{{ breadCont.breadname }}</p>
          <p >{{ breadCont.description1 }}</p>
          <p >{{ breadCont.description2 }}</p>
          
      </td>
      <td><p style="text-align:left ;">{{ breadCont.description3 }}</p></td>
    </tr>
  </div>
  {% endfor %}
</table>
<style>
  .title-head {
    text-align: center;
  }
  .title-head a{
    text-decoration: none;
    text-align: center;
    color: brown;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .title-head a::after{
    text-align: center;
    color: yellowgreen;
    padding: 20px;
    background-color: violet;

  }
</style>
{% endblock %}