<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
  <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300'rel='stylesheet'type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"href="css/main.css"> 
</head>
<body style="border-color: rgb(17, 68, 81);">
    <h1 style="text-align:center">Register </h1>
  <!-- https://carlofontanos.com/creating-a-registration-page-in-django/  -->
  <form action="" method="post"class="bg-primary">
    {% csrf_token %}

    <div class="col-md-8 col-md-offset-1 bg-bluemargin-top-30" >
        <div class="panel panel-default bg-red">
            
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                {% if error_message %}
                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                {% endif %}
                <div class="form-group clearfix">
                    <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-left"style="text-red;">Username<span class="text-red">*</span>:</label>
                    <div class="col-md-6">
                        {{ form.username }}
                      </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-left">Email<span class="text-red">*</span>:</label>
                    <div class="col-md-6">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-left">Password<span class="text-red">*</span>:</label>
                    <div class="col-md-6">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-left">Confirm password:</label>
                    <div class="col-md-6">
                        {{ form.password_repeat }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-left">First Name:</label>
                    <div class="col-md-6">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-left">Last Name:</label>
                    <div class="col-md-6">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-left">Phone Number:</label>
                    <div class="col-md-6">
                    {{ form.phone_number }}
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-4">
                <input type="submit" value="Register" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    body{
       background-color: red;
    }
  form {
    margin-left: 380px;
    margin-top :70px;
    align-items: center;
    background-color: #384047;
    width: auto;
  }
  .newform{
    background-color: #384047;
  }
  label{
    color: green;
    margin-left: 50px;
  }
  .panel-heading{
    color: blue;
    text-align: center;
  }
</style>

</body>
</html>




        