{% extends 'trackerApp/base.html'%}

{% block content %}


<h1 style="text-align:center;">soap products</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<table class="table" style="width:70%;margin:auto;background-color:red;padding-top:200px;">
  <tr>

    <th class="thead-dark">Product</th>
    <th class="thead-dark">Description</th>
    <th class="thead-dark"style="text-align:left ;">Effect</th>
  </tr>
  {% for soapCont in displaySoap %}
  <tr>
    <td>
      <div class="imagecontainer">
        <img src="{{ soapCont.soappicture.url }}">
      </div>
      <br>
      <span><small>created: {{soapCont.created|timesince}},ago</small></span><br>
      <span ><small>updated:{{soapCont.updated|timesince}},ago</small></span>
    </td>
      <td>
          <p >{{ soapCont.soapname }}</p>
          <p >{{ soapCont.description1 }}</p>
          <p >{{ soapCont.description2 }}</p>
          
      </td>
      <td><p style="text-align:left ;">{{ soapCont.description3 }}</p></td>
    </tr>
  </div>
  {% endfor %}
</table>

{% endblock %}